2.3/examples/data/xsdattributes.xml

<xsd:schema xmlns:gml="http://www.opengis.net/gml" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><xsd:complexType name="Line"><xsd:complexContent><xsd:extension base="gml:AbstractFeatureType"><xsd:sequence><xsd:element minOccurs="0" name="name" nillable="true" type="xsd:string" /><xsd:element minOccurs="0" name="geom" nillable="true" type="gml:LineStringPropertyType" /><xsd:element minOccurs="0" name="kind" nillable="true"><xsd:simpleType><xsd:restriction base="xsd:string"><xsd:enumeration value="tree" /><xsd:enumeration value="house" /></xsd:restriction></xsd:simpleType></xsd:element></xsd:sequence></xsd:extension></xsd:complexContent></xsd:complexType></xsd:schema>
